/* body section and Main Content */
body {

  background-color: #7c0000;
  font-size: 45px;

}

/* Setting the grid layout, will change on the layout of the screen */
.mainContent {
  width: 100%;
  display: grid;
  grid-template-areas:
    "header header"
    "content content"
    "navBar navBar"
    "menu menu"
    "footer footer";
  grid-template-columns: 3fr 1fr;
  grid-gap: 20px;

}

/*defining the basic item */
.mainContent>div {
  background-color: #3e0000;
  border-radius: 20px;
  border-style: dashed;
  border-color: #ffffff;
  text-align: center;
  padding: 20px;

}

.mainContent>div.header {
  grid-area: header;
  background-color: #3e0000;
  color: #000000;
  border-radius: 20px;
  border-style: inset;
  border-color: #ffffff;
  font-size: 200px;
  font-style: Courier;
  text-align: center;
}

.mainContent>div.content {
  grid-area: content;
  font-size: 3.5em;
  text-align: center;
}

.mainContent>div.image {
  grid-area: image;
}

/*Code for the NavBar, due note I took some code from W3*/
.mainContent>div.navBar {
  grid-area: navBar;

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ba0000;
  }

  li {
    float: left;
    border-right: 1px solid #000000;
  }

  li:last-child {
    border-right: none;
  }

  li a {
    display: block;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  li a:hover:not(.active) {
    background-color: #7c0000;
  }

  .active {
    background-color: #3e0000;
  }
}

.mainContent>div.menu {
  display: none;
  grid-area: menu;

  background-color: #3e0000;

  color: white;
  border-radius: 10px;

  .topnav {
    overflow: hidden;
    background-color: #ba0000;
    position: relative;
  }

  .topnav #myLinks {
    display: none;
  }

  .topnav a {
    color: rgb(0, 0, 0);
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }

  .topnav a.icon {
    background: black;
    display: block;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
  }

  .topnav a:hover {
    background-color: #7c0000;
    color: bl ack;
  }

  .active {
    background-color: #ba0000;
    color: rgb(0, 0, 0);
  }
}

.mainContent>div.footer {
  grid-area: footer;
  font-size: 2em;
  border-style: inset
}


/* Media Change*/
@media all and (max-width: 1200px) {
  body {
    font-size: 14px;
  }
  .mainContent>div.header {
    grid-area: header;
    background-color: #3e0000;
    color: #000000;
    border-radius: 20px;
    border-style: inset;
    border-color: #ffffff;
    font-size: 25px;
    font-style: Courier;
    text-align: center;
  }
  .mainContent {
    display: grid;


    grid-template-areas:
      "header"
      "content"
      "navBar"
      "menu"
      "footer";
    grid-template-columns: 1fr;
    grid-gap: 1px;

  }

  .mainContent>div.navBar {
    display: none;
  }

  .mainContent>div.menu {
    display: block;
  }

}

